<div class="row">
  <div class="large-12 columns">
    <%= link_to "Back", category_path(@activity.category_id ), class: "small radius button back button-activities" %>
    <div class="hide-for-small">
      <div id="featured">
        <!--img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image"-->
        <%= image_tag @activity.img_url, style: "width:1000px;height:400px" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <!--img src="http://placehold.it/1000x600&text=For Small Screens"/-->
        <%= image_tag @activity.img_url, style: "padding:28px; margin-top:10px;width:1000px;height:300px" %>
      </div>
    </div>
  </div>
</div><br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-8 columns">
        <div class="panel radius panel-border">
          <div class="row">
            <div class="large-9 small-6 columns">
              <h4><%= @activity.name %></h4><hr/>
              <p style="text-align: justify;"><%= @activity.description.truncate(200) %></p>
              <%if @activity.description.length > 200 %>
                <a id="read-more" href="#">Leer mas ...</a>
                <a id="read-less" style="display:none" href="#">Leer menos</a>
              <%end%>
              <hr>
              <div class="panel" style="border-radius: 4px;border-color: rgb(170, 146, 19);">
                <h4 style="text-decoration: underline;">Entrada general:</h4>
                <p style="padding-left: 15px;"><%= @activity.entrance_price.nil? ?  "0.0" : @activity.entrance_price %></p>
              </div>
              <div class="panel" style="border-radius: 4px;border-color: rgb(170, 146, 19);">
                <h4 style="text-decoration: underline;">Telefono:</h4>
                <p style="padding-left: 15px;"><%= @activity.phone.nil? ?  "No se ha registrado" : @activity.entrance_price %></p>
              </div>
              <div class="panel" style="border-radius: 4px;border-color: rgb(170, 146, 19);">
                <h4 style="text-decoration: underline;">Atracciones</h4>
                <p style="padding-left: 15px;"><%= @activity.attractions.nil? ?  "Aun no registradas" : @activity.attractions %></p>
              </div>
              <div class="panel" style="border-radius: 4px;border-color: rgb(170, 146, 19);">
                <h4 style="text-decoration: underline;">Ubicacion</h4>
                <p style="padding-left: 15px;"><%= @activity.province_id.nil? ?  "Aun no completada" : @activity.province.name %></p>
              </div>

              <div class="show-for-small" align="center">
                <a href="#" class="small radius button website-button button-activities">Website</a>
                <a href="#" class="small radius button button-activities">Take me there</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 columns hide-for-small">
        <h4>More info!</h4><hr/>
        <a class="large button expand" href="#">
          Website
        </a>
        <a class="large button expand" href="#">
          Take me there
        </a>
        <%= link_to "<- Back", category_path(@activity.category_id ), class: "large button expand" %>
      </div>
    </div>
  </div>
</div>
<script>
  $("#read-more").on("click", function(e){
    e.preventDefault();
    $(this).hide();
    $(this).prev().text("<%= @activity.description%>");
    $(this).next().show();
  });
  $("#read-less").on("click", function(e){
    e.preventDefault();
    $(this).hide();
    $(this).prev().prev().text("<%=@activity.description.truncate(200)%>");
    $("#read-less").prev().show();
  });
</script>
