<!DOCTYPE html>
<html>
  <head>
    <title>DisCoveR</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="assets/jquery.js"></script>
    <script src="assets/foundation.js"></script>
    <script src="assets/foundation.topbar.js"></script>
    <link rel="stylesheet" href="assets/animate.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="top-bar" style="background: none" data-topbar>
    <ul class="title-area">

      <li class="name" style="background: rgba(138, 163, 38, 0.6);">
      <h1>
        <a href="../" class="hide-for-small">
          <%= image_tag "discover.png", id:'icon-header' %>
          disCoveR
        </a>
      </h1>
      </li>
    </ul>
    </nav>

    <div class="row">
      <div class="large-12 columns" style="text-align:center;position:fixed;z-index:100;top:3px;left:0;right:0">
        <h1 style="font-family: titleFont;color: white; letter-spacing: 3px; font-size: 25px">disCoveR</span></h1>
      </div>
    </div>


    <div style="height:100%; overflow: scroll">
      <%= yield %>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
